<div class="header">
  <h1 class="title">Isaac's Blog Posts</h1>
</div>

<div class="sidebar">
<h3>Create a post:</h3>
<%= render 'form' %>
</div>

<div class="post_list">
<% for post in @posts %>
<p class="change"><span class="post_link"><%= link_to "#{post.title}", post %></span><br/>
<%= link_to 'Edit', edit_post_path(post) %>
| <%= link_to 'Delete', post, :method => 'delete',:confirm => 'Are you sure you want to delete this post?'%></p>
<% end %>
</div>