// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#flash_notice {
  background-color: #999999;
  border: 1px #777777;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: 'Helvetica', 'Verdana', sans-serif;
}
